[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "p--lock"
verify_ssl = true
name = ""

[[source]]
url = "p--lock"
verify_ssl = true
name = ""

[packages]
pandas = "*"
seaborn = "*"
numpy = "*"
matplotlib = "*"
statsmodels = "*"
scipy = "*"
ipeadatapy = "*"
pmdarima = "*"
python-bcb = "*"
arch = "*"
yfinance = "*"
scikit-learn = "*"
ipykernel = "*"
openpyxl = "*"

[dev-packages]

[requires]
python_version = "3.11"
